altgraph==0.17.3
asgiref==3.8.1
beautifulsoup4==4.13.4
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
crispy-bootstrap5==2025.4
Django==5.2
django-crispy-forms==2.4
filelock==3.18.0
fsspec==2025.3.2
future==0.18.2
huggingface-hub==0.30.2
idna==3.10
lxml==5.4.0
mysqlclient==2.2.7
numpy==2.2.5
packaging==24.2
pandas==2.2.3
pefile==2022.5.30
pygost==5.11
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32==305
pywin32-ctypes==0.2.0
PyYAML==6.0.2
requests==2.32.3
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
