{% extends "main/base.html" %}
{% load static %}
{% block content %}
<h2>О проекте RoadSafe_Moscow</h2>
<p>
  <strong>RoadSafe_Moscow</strong> — это интерактивное веб-приложение для мониторинга дорожно-транспортных происшествий (ДТП) в Москве и анализа маршрутов на предмет безопасности.
</p>
<p>
  Проект разработан в учебных целях, но может быть полезен для:
</p>
<ul>
  <li>водителей — для выбора безопасного маршрута,</li>
  <li>ГИБДД — для анализа участков с частыми авариями,</li>
  <li>жителей — для получения информации об аварийных зонах.</li>
</ul>
<div style="text-align: center;">
  <img src="{% static 'img/o.jpg' %}" alt="ДТП" style="width: 600px; border-radius: 10px;">
</div>
{% endblock %}
