{% extends "main/base.html" %}
{% load static %}

{% block content %}
<h2>Как пользоваться приложением</h2>

<div style="display: flex; align-items: flex-start; gap: 30px;">
  <img src="{% static 'img/instr.png' %}" width="120" alt="Инструкция">
  <ol style="font-size: 18px;">
    <li>Выберите режим: Добавление ДТП, чтобы кликнуть на карту и добавить аварию.</li>
    <li>Заполните форму: название, описание и тип ДТП.</li>
    <li>Переключитесь в режим Построение линии, чтобы указать маршрут.</li>
    <li>Кликните на карте сначала точку А, потом точку B. Между ними отобразится линия.</li>
    <li>Слева можно фильтровать типы отображаемых ДТП.</li>
  </ol>
</div>
{% endblock %}
